<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="../assets/css/style.css">
        <title>ISDLにようこそ！</title>
      </head>

    <body>
         <div class="main_log">
            <marquee scrollamount="30" width="700">
            <p class="sign_log" align="center">{{.username}}さん，ISDLにようこそ！</p>
            </marquee>
            
            <p class="sign_log" align="center"><a href=https://sites.google.com/view/doshisha-isdl>HPはこちら</a></p>
        </div>
           
      </body>
</html>